/* selector pot tag  */
h1 {color: blue;}
h2 {color: rgb(226, 12, 12);}
article{ color: rgb(104, 28, 28);}
ul{color: black;}
header p{color: crimson;}

/* selector por clasclaes */

.titulo2 {color: chocolate;}
.texto1{font-size: 5rem;}

/* selector por id */

#text-a1{color: rgb(85, 83, 80);}